<section>
  <div class="page-header">
    <h1>Swachtamaps</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="swachtamap in vm.swachtamaps"
       ui-sref="swachtamaps.view({ swachtamapId: swachtamap._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="swachtamap.created | date:'mediumDate'"></span>
        by
        <span ng-if="swachtamap.user" ng-bind="swachtamap.user.displayName"></span>
        <span ng-if="!swachtamap.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="swachtamap.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.swachtamaps.$resolved && !vm.swachtamaps.length">
    No Swachtamaps yet, why don't you <a ui-sref="swachtamaps.create">create one</a>?
  </div>
</section>
