<section>
  <div class="page-header">
    <h1>Swachtakartmaps</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="swachtakartmap in vm.swachtakartmaps"
       ui-sref="swachtakartmaps.view({ swachtakartmapId: swachtakartmap._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="swachtakartmap.created | date:'mediumDate'"></span>
        by
        <span ng-if="swachtakartmap.user" ng-bind="swachtakartmap.user.displayName"></span>
        <span ng-if="!swachtakartmap.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="swachtakartmap.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.swachtakartmaps.$resolved && !vm.swachtakartmaps.length">
    No Swachtakartmaps yet, why don't you <a ui-sref="swachtakartmaps.create">create one</a>?
  </div>
</section>
