<section>
  <div class="page-header">
    <h1>Swachtaprojects</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="swachtaproject in vm.swachtaprojects"
       ui-sref="swachtaprojects.view({ swachtaprojectId: swachtaproject._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="swachtaproject.created | date:'mediumDate'"></span>
        by
        <span ng-if="swachtaproject.user" ng-bind="swachtaproject.user.displayName"></span>
        <span ng-if="!swachtaproject.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="swachtaproject.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.swachtaprojects.$resolved && !vm.swachtaprojects.length">
    No Swachtaprojects yet, why don't you <a ui-sref="swachtaprojects.create">create one</a>?
  </div>
</section>
